
body{
  font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
}

header{
  display: flex;
  align-items: center;
  padding: 50px  240px 0px 240px;
  
  /* justify-content: space-between; */
  gap: 97px;
  background: rgba(229, 84, 115, 0.10);
}
.header-title{
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 24px;
  }
.btn-shop{
  border-radius: 8px;
  background: #E55473; 
  color: #FFF;
  border: 0px;
  font-size: 20px;
  padding: 20px 43px;
  font-weight: 700;

}
.header-column2{
 
}

.header-img{ 
  width: 635px; 
 
    position: bottom right;
 
}
.header-column1{
  margin-top: 100px;
}
.header-desc{
  color: rgba(39, 39, 39, 0.60);
font-size: 18px;
margin-bottom: 32px;
font-weight: 400;
line-height: 30px; 
padding-top: 32px 0px;
}
.sell {
  display: flex;
 justify-content: space-between;
 text-align: center;
  border-radius: 8px;
  align-items: center;
 padding: 100px 0;



background: rgba(229, 84, 115, 0.05);
}
.sell-img{
  width: 50%;
  padding-right: 429px;
}
.sell-about{
  width: 50%;
  padding-left: 395px;
}

.insta-pic{
  display:flex;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 128px;
  width: 1440px;
 
}
.insta-title{
  color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal; 

}
.insta-desc{
  color: rgba(39, 39, 39, 0.60);
 margin-top: 24px;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
width: 594px; 
text-align: center;
margin: 0 auto;


}
.deals{
  background-image:url("./assets/Rectangle\ 9.png") ;
  background-repeat: no-repeat;

  width: 1440px;
height: 449px; 
margin: 0 auto;
text-align: center;
padding-top: 122px;
padding-bottom: 121px;
}
.deals-title{
  color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal; 
}
.deals-desc{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.deals input[type="email"]{
  width: 700px;
  height: 64px;
  color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal; 
    background: #FFF; 
    border: 0px;
  

}
.sub{
  width: 150px;
height: 64px; 
border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
}
.fooler{
  background: #111010;
  text-align: center;
  height: 449px; 
  width: 100%;
  padding-top: 128px;


}
.footer-title{
  color: #FFF;
 
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
span{
  color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.footer-desc{

  color: rgba(255, 255, 255, 0.90);
margin: 0 auto;
font-size: 18px;
font-weight: 400;
width: 625px; 
margin-top: 24px;
margin-bottom: 32px;
}
.footer-cp{
  color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.rec-header{
  color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.rec-desc{
 width: 594px;
flex-direction: column;
flex-shrink: 0;
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 0 auto;
margin-bottom: 48px;
}



.rectangle-bg{
display: flex;
width: 1440px; 
margin: 0 auto;
justify-content: space-around;
gap: 24px;

}
.rbg1{
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 464px;
  height: 538px;
  flex-shrink: 0;
 
 
}
.rect-img1{
padding: 110px 78px 0px 76px;
}
.rbg2{
  width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
text-align: center;
background: rgba(5, 151, 160, 0.15);
}
.rect-img2{
 padding: 117px 47px 51px;
}
.rbg3{
  width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.rect-img3{
  padding: 67px 75px 0px 75px;
}
